<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
        ASCII Canvas
    </title>
  </head>
  <body>
    <p>Run canvas.py in a virtual environment in your terminal to see the ASCII graphics!</p>
    <p>Feel free to play around in interactive mode! Here's an example on how to use:</p>
    <p>>>> shape3 = item.Item("@@@", position=[5,5])</p>
    <p>>> canvas_.add_item(shape3)</p>
    <p>>> print(canvas_.render())</p>
  </body>
</html>